@using FreedomLogic.Infrastructure;
@inject AppConfiguration appConfig;
@{
    ViewBag.Title = "Home Page";
}

<div class="h-4 p-5 text-bg-dark rounded mb-3" style="--bs-bg-opacity: 0.85;">
    <h1>WoW Freedom Mini-manager</h1>
    <p class="lead">
        WoW Freedom Mini-manager is a website for server's web-based administration. 
        It is also a place where you can create your in-game account and manage it (e.g. transfer characters).
    </p>
</div>

<div class="row">
    <div class="col-md-4 d-flex flex-column">
        <h2>Forums</h2>
        <p class="flex-grow-1">
            We have an active community forum, where event plans, applications and discussions can be posted.
        </p>
        <a role="button" class="btn btn-dark mt-2" href="@appConfig.Links.ForumUrl">Go to the Forums &raquo;</a>
    </div>
    <div class="col-md-4 d-flex flex-column">
        <h2>Freedom Wiki</h2>
        <p class="flex-grow-1">
            WoW Freedom also hosts MediaWiki software to allow users to post wiki-articles about their characters or other roleplay items.
        </p>
        <a role="button" class="btn btn-dark mt-2" href="@appConfig.Links.WikiUrl">Go to the Wiki &raquo;</a>
    </div>
    <div class="col-md-4 d-flex flex-column">
        <h2>Connecting</h2>
        <p class="flex-grow-1">
            In order to play on WoW Freedom server, you will need to download and configure our specific game client. And don't forget to <a href="@appConfig.Links.Discord">join the Discord!</a>
        </p>
        <a role="button" class="btn btn-dark mt-2" href="@appConfig.Links.ConnectionGuideUrl">View the Connection Guide &raquo;</a>
    </div>
</div>