@using FreedomLogic.Infrastructure;
@inject AppConfiguration appConfig;
@{
    ViewBag.Title = "Home Page";
}

<div class="h-4 p-5 text-bg-dark rounded mb-3" style="--bs-bg-opacity: 0.85;">
    <h1>WoW Freedom Mini-manager</h1>
    <p class="lead">
        WoW Freedom Mini-manager is a website for server's web-based administration. 
        It is also a place where you can create your in-game account and manage it (e.g. transfer characters).
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Forums</h2>
        <p>
            We have an active community forum, where event plans, applications and discussions can be posted.
        </p>
        <p><a class="btn btn-dark" href="@appConfig.Links.ForumUrl">Forum link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Freedom Wiki</h2>
        <p>WoW Freedom also hosts MediaWiki software to allow users to post wiki-articles about their characters or other roleplay items.</p>
        <p><a class="btn btn-dark" href="@appConfig.Links.WikiUrl">Wiki link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connecting</h2>
        <p>In order to play on WoW Freedom server, you will need to download and configure our specific game client.</p>
        <p><a class="btn btn-dark" href="@appConfig.Links.ConnectionGuideUrl">Connection guide link &raquo;</a></p>
    </div>
</div>