@model FreedomWeb.ViewModels.Admin.PasswordResetTokenViewModel
@{
    ViewBag.Title = "Set game access";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-label" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", disabled = true })
            </div>
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.ResetLink, htmlAttributes: new { @class = "form-label" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.ResetLink, new { @class = "form-control", disabled = true })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="p-2 bg-dark mb-0 rounded-top text-white">
            <i class="fa fa-info-circle me-1"></i>
            Password Reset Help
        </h4>
        <div class="p-3 bg-secondary text-dark rounded-bottom" style="--bs-bg-opacity: 0.2">
            <p>
                This page can be used to send a link to a player that has forgotten their password to allow them to set up a new password since password reset by email is currently unavailable.
            </p>
        </div>
    </div>
</div>
