@{
    ViewBag.Title = "User list";
    bool isAdmin = User.IsInRole(FreedomLogic.Identity.FreedomRole.RoleAdmin);
}
<div class="panel panel-info">
    <h4 class="p-2">
        <i class="fa fa-users fa-2 me-1"></i>
        User list
    </h4>
    <table class="table table-striped table-bordered" id="TableUserList">
        <thead>
            <tr style="vertical-align:middle">
                <th class="nosort nosearch"></th>
                <th>Username</th>
                <th>Display name</th>
                <th>Email</th>
                <th>Security roles</th>
                <th>GM Level</th>
                <th class="nosort nosearch"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        function getActionRowHtml(userId) {
            var showProfileHrefElem = '<a href="@Url.Action("ShowProfile", "Account")/' + userId + '">Show profile &raquo;</a>';
            var showSetGameAccessHrefElem = '<a href="@Url.Action("SetGameAccess", "Admin")/' + userId + '">Change GMLevel &raquo;</a>';
            var showAdminStuff = @isAdmin.ToString().ToLower();
            if (showAdminStuff) {
                return showProfileHrefElem + '\n<br />\n' + showSetGameAccessHrefElem;
            }
            else {
                return showProfileHrefElem;
            }
        }

        var dt = $('#TableUserList').FreedomServerDataTable({
            "dataUrl": "@Url.Action("UserListInfo", "Admin")",
            "order": [[0, "asc"]],
            "columns": [
                { "data": "Id" },
                { "data": "UserName" },
                { "data": "DisplayName" },
                { "data": "RegEmail" },
                { "data": "Roles", orderable: false },
                { "data": "GameAccess", orderable: false }
            ],
            "columnDefs": [
                {
                    "targets": 6,
                    "orderable": false,
                    "render": function (row, type, val, meta) {
                        return getActionRowHtml(val.Id);
                    }
                }
            ],
        });
        dt.on("processing.dt", function (e, settings, processing) {
            if (!processing) {
                $("tr > td > .btn-link").on('click', function () {
                    var data = dt.row($(this).parents('tr')).data();
                    navigator.clipboard.writeText(".additem " + data.ItemId + " 1 " + data.BonusId);
                });
            }
        })
    </script>
}