@if (TempData["AlertMsgSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show fade-out-toggle mt-3" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["AlertMsgSuccess"].ToString()
    </div>
}
@if (TempData["AlertMsgInfo"] != null)
{
    <div class="alert alert-info alert-dismissible fade show fade-out-toggle mt-3" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["AlertMsgInfo"].ToString()
    </div>
}
@if (TempData["AlertMsgWarning"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show fade-out-toggle mt-3" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["AlertMsgWarning"].ToString()
    </div>
}
@if (TempData["AlertMsgDanger"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show fade-out-toggle mt-3" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["AlertMsgDanger"].ToString()
    </div>
}