@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="alert alert-danger" role="alert" data-valmsg-summary="true">
        <h5 class="alert-heading"><i class="fa fa-warning me-2"></i>Validation Error</h5>
        <p>Please, correct the follow errors:</p>
        <ul class="mb-0">
            @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
}
