@{
    Layout = null;
}
<footer class="p4 text-bg-dark">
    <div class="row me-0">
    <div class="col-md-3"></div>
        <div class="col-lg-9 p-4">
            <span>Made with <a href="https://getbootstrap.com">Bootstrap</a>.</span>
            <span>Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>.</span>
            <span>Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</span>
        </div>
    </div>
</footer>