@using FreedomLogic.Identity
@{
    ViewBag.Title = "Models";
}


<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 me-3 bg-light pa-3 rounded-2" style="width: 320px; height:750px">
        <ul class="modelviewer nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item flex-grow-1" role="presentation">
                <button class="nav-link active w-100" id="search-tab" data-bs-toggle="tab"
                        data-bs-target="#search" type="button" role="tab"
                        aria-controls="search" aria-selected="true">
                    Search
                </button>
            </li>
            <li class="nav-item flex-grow-1" role="presentation">
                <button class="nav-link w-100" id="collections-tab" data-bs-toggle="tab"
                        data-bs-target="#collections" type="button" role="tab"
                        aria-controls="collections" aria-selected="false">
                    Collections
                </button>
            </li>
            <li class="nav-item flex-grow-1" role="presentation">
                <button class="nav-link w-100" id="settings-tab" data-bs-toggle="tab"
                        data-bs-target="#settings" type="button" role="tab"
                        aria-controls="settings" aria-selected="false">
                    Settings
                </button>
            </li>
        </ul>
        <div class="modelviewer tab-content bg-white h-100 rounded-2" id="myTabContent">
            <div class="tab-pane fade show active h-100" id="search" role="tabpanel" aria-labelledby="search-tab">
                <div id="fileSearchTab" class="p-3 border-start rounded-0 h-100 d-flex flex-column">
                    <input id="fileSearch" type="search" class="form-control mb-2" autocomplete="false" placeholder="Search by id, name or tag!">
                    <div id="file_search_results" class="list-group mb-2 flex-grow-1">
                    </div>
                    <p id="search_pagination_text" class="text-center">Showing results 1-10 out of 82982</p>
                    <nav class="d-flex justify-content-around" aria-label="Model results pagination">
                        <ul id="search_pagination" class="pagination m-0">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tab-pane fade h-100" id="collections" role="tabpanel" aria-labelledby="collections-tab">
                <div id="collections_select_collection" class="p-3 rounded-0 h-100">
                    <input id="collection_search" type="search" class="form-control mb-2" autocomplete="false" placeholder="Search through your collections...">
                    <hr />
                    <div id="collection_search_results" class="list-group mb-0">
                    </div>
                    <hr />
                    <p id="collection_search_pagination_text" class="text-center">Showing results 1-10 out of 82982</p>
                    <nav class="d-flex justify-content-around" aria-label="Model results pagination">
                        <ul id="collection_search_pagination" class="pagination">
                        </ul>
                    </nav>
                </div>
                <div id="collections_select_model" class="p-3 rounded-0 h-100" style="display:none">
                    <div class="input-group">
                        <button id="collections_model_backBtn" class="btn btn-light border" aria-label="Previous" type="button"><span aria-hidden="true">«</span></button>
                        <input id="collection_model_search" type="search" class="form-control" autocomplete="false" placeholder="Search by id, name or tag!">
                    </div>
                    <hr />
                    <div id="collection_model_search_results" class="list-group mb-0">
                    </div>
                    <hr />
                    <p id="collection_model_search_pagination_text" class="text-center">Showing results 1-10 out of 82982</p>
                    <nav class="d-flex justify-content-around" aria-label="Model results pagination">
                        <ul id="collection_model_search_pagination" class="pagination">
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="tab-pane fade h-100" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="p-3 border-end rounded-0 h-100">
                    <div class="mb-3">
                        <label for="fovControl" class="form-label">Camera FOV</label>
                        <input type="number" class="form-control" id="fovControl">
                    </div>
                    <div class="mb-3">
                        <label for="cameraControl" class="form-label">
                            Camera Controls
                        </label>
                        <div class="input-group">
                            <select id="cameraControl" class="form-select">
                                <option value="orbital">Mouse Controlled Orbital</option>
                                <option value="fps">First Person Camera</option>
                                <option value="rotating">Static Rotating</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fpsControl">
                            <label class="form-check-label" for="fpsControl">
                                Display FPS Counter
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded p-3 bg-dark flex-grow-1">
        <div id="modelviewer_container" class="wmv_container">
        </div>
    </div>
</div>


<div class="modelviewer modal fade" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTagModalLabel">Add model tag</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden">
                        <div class="p-2 mb-2 bg-body-tertiary border-bottom">
                            <input id="addTag_input" type="search" class="form-control" autocomplete="false" placeholder="Start typing to see tag suggestions...">
                        </div>
                        <ul id="addTag_tagResults" class="list-unstyled mb-0" style="max-height: 250px; overflow-y: auto;">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="addTag_save_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Add tag
                </button>
            </div>
        </div>
    </div>
</div>

@section Stylesheets {
    <style>
        .wmv_container {
            height: 100%;
            width: 100%;
        }
    </style>
}
@section scripts {
    <script src="/lib/wmvts/wmvts-standalone.min.js?v=0.0.1"></script>
    <script>
        $(document).ready(function () {
            const state = {
                canAddNewTags: '@(User.IsInRole(FreedomRole.RoleGM) || User.IsInRole(FreedomRole.RoleAdmin))' === 'True',
                currentModelId: -1,
                search: {
                    isActiveTab: true,
                    isLoading: false,
                    lastQuery: {
                        val: undefined,
                        page: undefined
                    },
                    page: 0,
                    pageSize: 10,
                    total: 0,
                    data: [],
                    hasFocus: true
                },
                collections: {
                    isActiveTab: false,
                    currentCollection: '',
                    search: {
                        isActiveTab: true,
                        isLoading: false,
                        lastQuery: {
                            val: undefined,
                            page: undefined
                        },
                        page: 0,
                        pageSize: 10,
                        total: 0,
                        data: [],
                    },
                    models: {
                        isActiveTab: false,
                        isLoading: false,
                        lastQuery: {
                            val: undefined,
                            page: undefined
                        },
                        page: 0,
                        pageSize: 10,
                        total: 0,
                        data: [],
                        hasFocus: false
                    }
                },
                settings: {
                    isActiveTab: false,
                    cameraFov: 90,
                    selectedCamera: 'orbital',
                    showFps: false
                }
            }

            const wmvts = window["wmvts-standalone"];
            const container = $("#modelviewer_container")[0];
            const dataLoader = new wmvts.WoWModelServerDataProvider("https://cdn.wowfreedom-rp.com");
            const progressReporter = new wmvts.SimpleProgressReporter(container)
			const viewer = new wmvts.BrowserWoWModelViewer({
                dataLoader,
                progressReporter,
                onError: (type, err) => {
                    notifyError("Something went wrong with the modelviewer.<br/>Please show a developer the following:<br/><br/>Type: " + type + "<br/>" + err)
                },
                canvas: {
                    container,
                    resizeToContainer: true,
                },
                scene: {
                    cameraFov: 90,
                    backgroundColor: [33/255,37/255,41/255, 1]
                }
            });
            let model;

            function setModelViewerModel(data) {
				if (model) {
					viewer.removeSceneObject(model);
				}
                state.currentModelId = data.FileId;
                if (data.Type === "m2") {
                    model = viewer.addM2Model(state.currentModelId);
                    showM2Controls();
                } else if (data.Type === "wmo") {
                    model = viewer.addWMOModel(state.currentModelId);
                    hideM2Controls();
                }
            }

            // AJAX Requests

            function callSearchCollections(searchVal, page, callback) {
                $.ajax({
                    url: "/Data/Collections?search=" + searchVal + "&page=" + page,
                    method: "GET",
                    success: callback
                });
            }

            function callAddTag(tagName) {
                $.ajax({
                    url: "/Data/Models/" + state.currentModelId + "/tags",
                    data: JSON.stringify(tagName),
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    success: function (data) {
                        if (data.Success) {
                            notifySuccess("Succesfully added tag!");
                            syncCurrentModelsView(true);
                        } else {
                            notifyError(data.Error);
                        }
                    }
                });
            }

            function callSearchModels(force) {
                const searchVal = $("#fileSearch").val();
                const page = state.search.page;
                if (!force && state.search.lastQuery.val === searchVal && state.search.lastQuery.page === page) {
                    reloadSearchResults();
                    return;
                }
                state.search.isLoading = true;
                $.ajax({
                    url: "/Data/Models?search=" + searchVal + "&page=" + page,
                    method: "GET",
                    success: function (data) {
                        state.search.data = data.Data;
                        state.search.total = data.Total;
                        state.search.isLoading = false;
                        state.search.lastQuery.val = searchVal;
                        state.search.lastQuery.page = page;
                        if (state.currentModelId === -1) {
                            setModelViewerModel(data.Data[0]);
                        }
                        reloadSearchResults();
                    }
                });
                reloadSearchResults();
            }

            function callSearchCollectionModels(force) {
                const searchVal =  $("#collection_model_search").val();
                const page = state.collections.models.page;

                if (!force && state.collections.models.lastQuery.val === searchVal && state.collections.models.lastQuery.page === page) {
                    reloadCollectionModelsResults();
                    return;
                }
                state.collections.models.isLoading = true;
                $.ajax({
                    url: "/Data/Collections/" + state.collections.currentCollection + "/models?search=" + searchVal + "&page=" + page,
                    method: "GET",
                    success: function (data) {
                        state.collections.models.data = data.Data;
                        state.collections.models.total = data.Total;
                        state.collections.models.isLoading = false;
                        state.collections.models.lastQuery.val = searchVal;
                        state.collections.models.lastQuery.page = page;
                        if (state.currentModelId === -1) {
                            setModelViewerModel(data.Data[0]);
                        }
                        reloadCollectionModelsResults();
                    }
                });
                reloadCollectionModelsResults();
            }

            function callRemoveTag(tagName) {
                $.ajax({
                    url: "/Data/Models/" + state.currentModelId + "/tags/" + tagName,
                    method: "DELETE",
                    success: function (data) {
                        if (data.Success) {
                            notifySuccess("Succesfully removed tag!")
                            syncCurrentModelsView(true);
                        } else {
                            notifyError(data.Error);
                        }
                    }
                });
            }

            function callAddModelToCollection(collectionName) {
                $.ajax({
                    url: "/Data/Collections/" + collectionName + "/models ",
                    data: JSON.stringify(state.currentModelId),
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    success: function (data) {
                        if (data.Success) {
                            notifySuccess("Succesfully added model to collection!")
                            syncCollectionsSearch(true);
                        } else {
                            notifyError(data.Error);
                        }
                    }
                });
            }

            function callSearchTags() {
                 if(!state.canAddNewTags) {
                    $("#addTag_save_btn").attr('disabled', true);
                 } else {
                    $("#addTag_save_btn").attr('disabled', false);
                 }
                 $.ajax({
                    url: "/Data/Tags?search=" + $("#addTag_input").val(),
                    method: "GET",
                    success: function (data) {
                        fillSearchResults(data, "#addTag_input", "#addTag_tagResults", () => {
                            $("#addTag_save_btn").attr('disabled', false);
                        });
                    }
                });
            }

            function syncCollectionsSearch(force) {
                const searchVal =  $("#collection_search").val();
                const page = state.collections.search.page;

                if (!force && state.collections.search.lastQuery.val === searchVal && state.collections.search.lastQuery.page === page) {
                    reloadCollectionModelsResults();
                    return;
                }
                state.collections.search.isLoading = true;
                callSearchCollections(searchVal, page, (data) => {
                    state.collections.search.lastQuery.val = searchVal;
                    state.collections.search.lastQuery.page = page;
                    state.collections.search.data = data.Data;
                    state.collections.search.total = data.Total;
                    state.collections.search.isLoading = false;
                    reloadCollectionSearchResults();
                })
                reloadCollectionSearchResults();
            }

            // Generic Page UI utils

            function addToolTip(elem, title, position) {
                if (!position) {
                    position = 'right';
                }
                new bootstrap.Tooltip(elem, {
                    placement: position,
                    title: title,
                    trigger: 'hover',
                    delay: {
                        show: 500,
                        hide: 100
                    }
                });
            }

            function getPaginationLayout(numButtons, currentPage, totalPages) {
                if (totalPages < numButtons) {
                    const pageNums = [];
                    for(let i = 1; i <= totalPages; i++) {
                        pageNums.push(i.toString());
                    }
                    return pageNums;
                }
                const halfLimit = Math.ceil(numButtons / 2);
                const isMiddle = currentPage >= halfLimit
                    && currentPage < (totalPages-halfLimit);
                const isLeft = currentPage < halfLimit;

                if (isMiddle) {
                    const pageNums = [];
                    for (let i = currentPage - Math.floor(halfLimit/2);
                        i <= currentPage + 1 + Math.ceil(halfLimit/2); i++) {
                        pageNums.push(i.toString());
                    }
                    if (numButtons <= 5) {
                        return pageNums;
                    } else {
                        return ["1", "...", ...pageNums, "...", totalPages.toString()];
                    }
                }
                const numLeft = isLeft ? halfLimit : numButtons - halfLimit-1;
                const numRight = isLeft ? numButtons - halfLimit-1: halfLimit;
                const left = [];
                for(let i = 0; i < numLeft; i++) {
                    left.push((i+1).toString());
                }
                const right = []
                for (let i = 0; i < numRight; i++) {
                    right.push((totalPages - i).toString())
                }
                return left.concat("...", right.reverse());
            }

            function reloadPagination(tabState, paginationText, paginationElem, setPageFn) {
                if (tabState.isLoading) {
                   const spinnerContainer = $('<div class="d-flex justify-content-center">');
                   const spinnerelem = $('<div class="spinner-grow" role="status"><span class="visually-hidden">Loading...</span></div>');
                   spinnerContainer.append(spinnerelem);

                   $(paginationElem).empty();
                   $(paginationElem).append(spinnerContainer);
                   $(paginationText).text('');
                   return;
                }

                const resultsStart = Math.min(tabState.page*tabState.pageSize+1, tabState.total);
                const resultsEnd = Math.min((tabState.page+1)*tabState.pageSize, tabState.total);

                $(paginationText).text(`Showing results ${resultsStart}-${resultsEnd} out of ${tabState.total}`);

                $(paginationElem).empty();
                const addPaginationItem = (it, disabled, active) => {
                    const li = $('<li class="page-item">');
                    if (disabled) {
                        li.addClass('disabled');
                    }
                    if (active) {
                        li.addClass('active');
                    }
                    li.append(it);
                    $(paginationElem).append(li);
                }

                const prevBtn = $('<a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>')
                const nextBtn = $('<a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a>')

                prevBtn.on("click", (evt) => {
                    evt.preventDefault();
                    setPageFn(tabState.page-1);
                })
                nextBtn.on("click", (evt) => {
                    evt.preventDefault();
                    setPageFn(tabState.page+1);
                })

                const totalPages = Math.ceil(tabState.total / tabState.pageSize);
                const layout = getPaginationLayout(5, tabState.page, totalPages);
                addPaginationItem(prevBtn, tabState.page === 0);
                for(const elem of layout) {
                    const pageNum = parseInt(elem, 10) - 1;
                    const link = $('<a class="page-link" href="#">');
                    link.text(elem);
                    link.on("click", (evt) => {
                        evt.preventDefault();
                        setPageFn(pageNum);
                    })
                    addPaginationItem(link, isNaN(pageNum), tabState.page === pageNum)
                }
                addPaginationItem(nextBtn, tabState.page >= totalPages-1);
            }

            function reloadModelSearchResults(tabState, resultsElem) {
                 $(resultsElem + " .tooltipped").each((_, elem) => {
                    bootstrap.Tooltip.getInstance(elem).dispose();
                });
                $(resultsElem).empty();

                if (tabState.isLoading) {
                   const spinnerContainer = $('<div class="d-flex justify-content-center">');
                   const spinnerelem = $('<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>');
                   spinnerContainer.append(spinnerelem);
                   $(resultsElem).append(spinnerContainer);
                   return;
                }
                if (tabState.total === 0) {
                    $(resultsElem).append($("<span class='p-2'>No results found.</span>"))
                    return;
                }

                for (const elem of tabState.data) {
                    const modelElem = $("<div class='list-group-item' role='button'>");
                    const textContainer = $("<div class='d-flex align-items-center gap-2'>");

                    const fileIdSpan = $("<span>");
                    fileIdSpan.text(elem.FileId);
                    textContainer.append(fileIdSpan);

                    const fileNameSpan = $("<span class='overflow-hidden tooltipped'>");
                    fileNameSpan.text(elem.FileName);
                    addToolTip(fileNameSpan[0], elem.FileName);
                    textContainer.append(fileNameSpan);

                    modelElem.append(textContainer);

                    if (elem.FileId == state.currentModelId) {
                        modelElem.removeAttr('role');

                        const badgesContainerElem = $("<div class='d-flex justify-content-between my-2'>")
                        const userBadgesElem = $("<div class='modelviewer scrollbar-styled pb-2 d-flex flex-grow-1 gap-1' style='overflow-x: auto;'>");

                        const tags = elem.Tags.sort((a,b) => b.Count - a.Count);

                        for(let tag of tags) {
                            const badgeElem = $('<span class="tooltipped badge text-dark" role="button">');
                            if (tag.HasUpvoted) {
                                badgeElem.addClass('bg-success')
                                badgeElem.on('click', function () {
                                    $(this).attr('disabled');
                                    callRemoveTag(tag.Name);
                                });
                                addToolTip(badgeElem[0], "Remove vote", "top");
                            } else {
                                badgeElem.addClass('bg-light')
                                badgeElem.on('click', function() {
                                    $(this).attr('disabled');
                                    callAddTag(tag.Name);
                                })
                                addToolTip(badgeElem[0], "Vote tag", "top");
                            }
                            badgeElem.text(tag.Name + " | " + tag.Count);
                            userBadgesElem.append(badgeElem);
                        }
                        if (tags.length === 0) {
                            userBadgesElem.append($("<span>No tags yet.</span>"))
                        }

                        const addBadge = $("<button type='button' class='btn badge bg-light ms-2' data-bs-toggle='modal' data-bs-target='#addTagModal' style='height:20.4px'>");
                        addBadge.append($("<i class='fa fa-solid fa-plus'>"))
                        addBadge.on('click', function () {
                            $("#addTag_input").val("");
                            $("#addTag_tagResults").empty();
                            $("#addTag_save_btn").attr('disabled', true);
                        });
                        badgesContainerElem.append(userBadgesElem);
                        badgesContainerElem.append(addBadge);
                        addToolTip(addBadge[0], "Add new tag");

                        const collectionContainerElement = $('<div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden">');
                        const collectionInputContainerElem = $('<div class="input-group input-group-sm p-2 mb-2 border-bottom">');

                        const collectionInput = $('<input id="collection_suggest" class="form-control" autocomplete="false" placeholder="Add to collection">');
                        collectionInputContainerElem.append(collectionInput);
                        collectionInputContainerElem.on('keyup input', debounce(function () {
                            callSearchCollections($("#collection_suggest").val(), 0, function (data) {
                                fillSearchResults(data, "#collection_suggest", "#collection_suggest_list", () => {
                                    callAddModelToCollection($('#collection_suggest').val());
                                    $('#collection_suggest').val('');
                                })
                            });
                        }));

                        const collectionAddBtn = $('<button class="btn btn-light border" type="button"><i class="fa fa-solid fa-plus"></i></button>')
                        collectionInputContainerElem.append(collectionAddBtn);
                        collectionAddBtn.on('click', function () {
                            callAddModelToCollection($('#collection_suggest').val());
                        })
                        addToolTip(collectionAddBtn[0], "Add to collection");

                        collectionContainerElement.append(collectionInputContainerElem);
                        const collectionSuggestList = $('<ul id="collection_suggest_list" class="list-unstyled mb-0 " style="max-height: 250px; overflow-y: auto; font-size:14px;">')
                        collectionContainerElement.append(collectionSuggestList);

                        modelElem.append(badgesContainerElem);
                        modelElem.append(collectionContainerElement);
                        modelElem.addClass('active')
                    } else {
                        modelElem.on("click", function (evt) {
                            evt.preventDefault();
                            setModelViewerModel(elem);
                            reloadCurrentModelsView();
                        });
                    }
                    $(resultsElem).append(modelElem);
                }
            }

            function fillSearchResults(data, inputElem, listElem, onSelectItem) {
                $(listElem).empty();
                for (const elem of data.Data) {
                    const itemElem = $("<a class='dropdown-item d-flex align-items-center gap-2 py-2' href='#'>")
                    itemElem.text(elem.Name);
                    itemElem.on("click", function (evt) {
                        $(inputElem).val(elem.Name);
                        $(listElem).empty();
                        if (onSelectItem) {
                            onSelectItem(elem);
                        }
                        evt.preventDefault();
                    });
                    const li = $("<li>");
                    li.append(itemElem);
                    $(listElem).append(li);
                }
                if (data.Total === 0) {
                    const itemElem = $("<div class='dropdown-item d-flex align-items-center gap-2 py-2'>")
                    itemElem.text("No results found.");
                    const li = $("<li>");
                    li.append(itemElem);
                    $(listElem).append(li);
                }
            }

            function syncCurrentModelsView(force) {
                if (state.search.isActiveTab) {
                    callSearchModels(force);
                }
                if (state.collections.isActiveTab) {
                    callSearchCollectionModels(force);
                }
            }

            function getSelectedModelInfo() {
                let tabState;
                if (state.search.isActiveTab) {
                    tabState = state.search;
                }
                else if (state.collections.isActiveTab) {
                    tabState = state.collections.models;
                } else {
                    return undefined;
                }
                return tabState.data.find((x) => x.FileId === state.currentModelId);
            }

            function reloadCurrentModelsView() {
                if (state.search.isActiveTab) {
                    reloadSearchResults();
                }
                if (state.collections.isActiveTab) {
                    reloadCollectionModelsResults();
                }
            }


            function showM2Controls() {
                hideM2Controls();

                const container = $("<div class='wmvts-m2controls'>");
                container.css({
                    position: "absolute",
                    bottom: "0px",
                    right: "10px",
                    width: "250px"
                });
                
                const animSelect = $("<select id='ddlAnimation' class='form-select'>");

                const animSelectLabel = $("<label for='ddlAnimation'>Animation: </label>");
                animSelectLabel.css({
                    width: "100%",
                    height: "1em",
                    color: "white"
                })

                const texturesSelect = $("<select id='ddlTextures'  class='form-select'>");
                texturesSelect.css({
                    marginBottom: "1em"
                })

                const texturesSelectLabel = $("<label for='ddlTextures'>Texture Set: </label>");
                texturesSelectLabel.css({
                    width: "100%",
                    height: "1em",
                    color: "white"
                })

                container.append(texturesSelectLabel);
                container.append(texturesSelect);
                container.append(animSelectLabel);
                container.append(animSelect);

                $(".wmv_container").append(container);

                texturesSelect.hide();
                texturesSelectLabel.hide();
                animSelectLabel.hide();
                animSelect.hide();

                model.on("modelDataLoaded", () => {
                    const anims = model.getAnimations()
                    for(const animId of anims) {
                        const optionElement = $("<option value='" + animId +  "'>" + getAnimationName(animId) + " (" + animId + ")" +  "</option>");
                        animSelect.append(optionElement);
                    }

                    animSelect.on("change", () => {
                        model.useAnimation(parseInt(animSelect.val(), 10));
                    });
                    animSelectLabel.show();
                    animSelect.show();
                });

                model.on("textureVariationsLoaded", (data) => {
                    if(data.textureVariations.length === 0) {
                        return;
                    }

                    for(let i = 0; i < data.textureVariations.length; i++) {
                        const optionElement = document.createElement("option");
                        const tvData = data.textureVariations[i];
                        const sourceName = tvData.displayType === 1 ? "CreatureDisplayInfo" : "ItemDisplayInfo"
                        optionElement.text = (i+1) + ". " +  sourceName + " " + data.textureVariations[i].displayId;
                        optionElement.value = i.toString();
                        texturesSelect.append(optionElement);
                    }

                    texturesSelect.on("change", () => {
                        model.useTextureVariation(parseInt(texturesSelect.val(), 10));
                    });


                    texturesSelect.show();
                    texturesSelectLabel.show();
                });
            }

            function hideM2Controls() {
               $(".wmvts-m2controls").remove();
            }
            // Tab specific UI

            function setSearchPage(num) {
                state.search.page = num;
                callSearchModels();
            }

            function setSearchCollectionsPage(num) {
                state.collections.search.page = num;
                syncCollectionsSearch();
            }

            function setCollectionModelsPage(num) {
                state.collections.models.page = num;
                callSearchCollectionModels();
            }

            function reloadSearchResults() {
                reloadModelSearchResults(state.search, "#file_search_results");
                reloadPagination(state.search, "#search_pagination_text", "#search_pagination", setSearchPage);
            }

            function reloadCollectionModelsResults() {
                reloadModelSearchResults(state.collections.models, "#collection_model_search_results");
                reloadPagination(state.collections.models, "#collection_model_search_pagination_text", "#collection_model_search_pagination", setCollectionModelsPage);
            }

            function reloadCollectionSearchResults() {
                 $("#collection_search_results .tooltipped").each((_, elem) => {
                    bootstrap.Tooltip.getInstance(elem).dispose();
                });
                $("#collection_search_results").empty();

                reloadPagination(state.collections.search, "#collection_search_pagination_text", "#collection_search_pagination", setSearchCollectionsPage);
                if (state.collections.search.total === 0) {
                    $("#collection_search_results").append($("<span class='p-2'>No results found.</span>"))
                    return;
                }
                for (const elem of state.collections.search.data) {
                    const itemElem = $("<div class='list-group-item' role='button'>");
                    const textContainer = $("<div class='d-flex align-items-center gap-2'>");

                    const nameSpan = $("<span class='overflow-hidden tooltipped'>");
                    nameSpan.text(elem.Name);
                    addToolTip(nameSpan[0], elem.Name);
                    textContainer.append(nameSpan);

                    itemElem.append(textContainer);
                    itemElem.on('click', function () {
                        state.collections.currentCollection = elem.Name;
                        setActiveCollectionsTab('models')
                    });
                    $("#collection_search_results").append(itemElem);
                }
            }

            function setActiveCollectionsTab(tab) {
                if (tab === 'search') {
                    state.collections.search.isActiveTab = true;
                    state.collections.models.isActiveTab = false;
                    $("#collection_search").val('');
                    state.collections.search.page = 0;
                    $("#collections_select_collection").show()
                    $("#collections_select_model").hide();
                    syncCollectionsSearch();
                } else {
                    state.collections.search.isActiveTab = false;
                    state.collections.models.isActiveTab = true;
                    $("#collection_model_search").val('');
                    state.collections.models.page = 0;
                    $("#collections_select_collection").hide()
                    $("#collections_select_model").show();
                    callSearchCollectionModels();
                }
            }

            function loadSettings() {
                const prevSettings = localStorage.getItem('wf_wmv_settings');
                if (prevSettings) {
                    var obj = JSON.parse(prevSettings);
                    state.settings = obj;
                    state.settings.isActiveTab = false;
                }

                $("#fovControl").val(state.settings.cameraFov).trigger('change');
                $("#cameraControl").val(state.settings.selectedCamera).trigger('change');
                if (state.settings.showFps) {
                    $("#fpsControl").attr('checked', true).trigger('change');
                } else {
                    $("#fpsControl").removeAttr('checked', true).trigger('change');
                }
            }

            function saveSettings() {
                localStorage.setItem('wf_wmv_settings', JSON.stringify(state.settings));
            }

            // Wire up events

            $("#fileSearch").on('keyup input', debounce(function () {
                const searchVal = $("#fileSearch").val();
                if (searchVal === state.search.lastQuery.val) {
                    return;
                }
                state.search.page = 0;
                callSearchModels();
            }))

            $("#addTag_input").on('keyup input', debounce(callSearchTags));

            $("#addTag_save_btn").on('click', function () {
                callAddTag($("#addTag_input").val());
            })

            $("#collection_search").on('keyup input', debounce(() => {
                const searchVal = $("#collection_search").val();
                if (searchVal === state.collections.search.lastQuery.val) {
                    return;
                }
                state.collections.search.page = 0;
                syncCollectionsSearch();
            }));

            $("#collection_model_search").on('keyup input', debounce(() => {
                const searchVal = $("#collection_model_search").val();
                if (searchVal === state.collections.models.lastQuery.val) {
                    return;
                }
                state.collections.models.page = 0;
                callSearchCollectionModels();
            }));

            $(document).on('keydown', function (evt) {
                let tabState;
                if (state.search.isActiveTab) {
                    tabState = state.search;
                }
                if (state.collections.isActiveTab) {
                    if (state.collections.search.isActiveTab) {
                        return true;
                    }
                    tabState = state.collections.models;
                }
                if (!tabState) {
                    return true;
                }
                if (document.activeElement !== document.body) {
                    return true;
                }
                switch (evt.key) {
                    case "ArrowDown": {
                        const currentIndex = tabState.data.findIndex((x) => x.FileId === state.currentModelId);
                        if (currentIndex != tabState.data.length-1) {
                            setModelViewerModel(tabState.data[currentIndex+1])
                            reloadCurrentModelsView();
                        }
                        return false;
                    }
                    case "ArrowUp": {
                        let currentIndex = tabState.data.findIndex((x) => x.FileId === state.currentModelId);
                        if (currentIndex === -1) {
                            currentIndex = tabState.data.length;
                        }
                        if (currentIndex !== 0) {
                            setModelViewerModel(tabState.data[currentIndex-1]);
                            reloadCurrentModelsView();
                        }
                        return false;
                    }
                    case "ArrowRight": {
                        const totalPages = Math.ceil(tabState.total / tabState.pageSize);
                        if (tabState.page != totalPages-1) {
                            tabState.page = tabState.page+1;
                            syncCurrentModelsView();
                        }
                        return false;
                    }
                    case "ArrowLeft": {
                        if (tabState.page != 0) {
                            tabState.page = tabState.page-1;
                            syncCurrentModelsView();
                        }
                        return false;
                    }
                }
                return true;
            })

            $("#collections_model_backBtn").on('click', function () {
                setActiveCollectionsTab('search');
            });

            $("#fovControl").on('keyup input', debounce(() => {
                const fovVal = parseInt($("#fovControl").val(), 10);
                if (!isNaN(fovVal)) {
                    viewer.useCameraFov(fovVal);
                    state.settings.cameraFov = fovVal;
                }
                saveSettings();
            }));

            $("#cameraControl").on('change', () => {
                const val = $("#cameraControl").val();
                state.settings.selectedCamera = val;
                switch(val) {
                    case 'orbital': {
						viewer.useOrbitalCamera();
                        break;
                    }
                    case 'fps': {
						viewer.useFirstPersonCamera();
                        break;
                    }
                    case 'rotating': {
						viewer.useRotatingCamera();
                        break;
                    }
                    default: {
						viewer.useStaticCamera();
                    }
                }
                saveSettings();
            });


            $("#fpsControl").on('change', function () {
                const showFps = $("#fpsControl").is(":checked");
                state.settings.showFps = showFps;
                if (showFps) {
                    viewer.showDebug();
                } else {
                    viewer.hideDebug();
                }
                saveSettings();
            });

            function setActiveTab(tabName) {
                state.search.isActiveTab = false;
                state.settings.isActiveTab = false;
                state.collections.isActiveTab = false;
                state[tabName].isActiveTab = true;
            }

            $("#search-tab").on('click focus', () => {
                setActiveTab('search');
                $("#fileSearch").val('');
                state.search.page = 0;
                callSearchModels();
            });
            $("#collections-tab").on('click focus', () => {
                setActiveTab('collections');
                setActiveCollectionsTab('search');
            });
            $("#settings-tab").on('click focus', () => {
                setActiveTab('settings');
            });
            loadSettings();
            callSearchModels();


			const ANIM_NAMES = [
				"Stand",
				"Death",
				"Spell",
				"Stop",
				"Walk",
				"Run",
				"Dead",
				"Rise",
				"StandWound",
				"CombatWound",
				"CombatCritical",
				"ShuffleLeft",
				"ShuffleRight",
				"Walkbackwards",
				"Stun",
				"HandsClosed",
				"AttackUnarmed",
				"Attack1H",
				"Attack2H",
				"Attack2HL",
				"ParryUnarmed",
				"Parry1H",
				"Parry2H",
				"Parry2HL",
				"ShieldBlock",
				"ReadyUnarmed",
				"Ready1H",
				"Ready2H",
				"Ready2HL",
				"ReadyBow",
				"Dodge",
				"SpellPrecast",
				"SpellCast",
				"SpellCastArea",
				"NPCWelcome",
				"NPCGoodbye",
				"Block",
				"JumpStart",
				"Jump",
				"JumpEnd",
				"Fall",
				"SwimIdle",
				"Swim",
				"SwimLeft",
				"SwimRight",
				"SwimBackwards",
				"AttackBow",
				"FireBow",
				"ReadyRifle",
				"AttackRifle",
				"Loot",
				"ReadySpellDirected",
				"ReadySpellOmni",
				"SpellCastDirected",
				"SpellCastOmni",
				"BattleRoar",
				"ReadyAbility",
				"Special1H",
				"Special2H",
				"ShieldBash",
				"EmoteTalk",
				"EmoteEat",
				"EmoteWork",
				"EmoteUseStanding",
				"EmoteTalkExclamation",
				"EmoteTalkQuestion",
				"EmoteBow",
				"EmoteWave",
				"EmoteCheer",
				"EmoteDance",
				"EmoteLaugh",
				"EmoteSleep",
				"EmoteSitGround",
				"EmoteRude",
				"EmoteRoar",
				"EmoteKneel",
				"EmoteKiss",
				"EmoteCry",
				"EmoteChicken",
				"EmoteBeg",
				"EmoteApplaud",
				"EmoteShout",
				"EmoteFlex",
				"EmoteShy",
				"EmotePoint",
				"Attack1HPierce",
				"Attack2HLoosePierce",
				"AttackOff",
				"AttackOffPierce",
				"Sheath",
				"HipSheath",
				"Mount",
				"RunRight",
				"RunLeft",
				"MountSpecial",
				"Kick",
				"SitGroundDown",
				"SitGround",
				"SitGroundUp",
				"SleepDown",
				"Sleep",
				"SleepUp",
				"SitChairLow",
				"SitChairMed",
				"SitChairHigh",
				"LoadBow",
				"LoadRifle",
				"AttackThrown",
				"ReadyThrown",
				"HoldBow",
				"HoldRifle",
				"HoldThrown",
				"LoadThrown",
				"EmoteSalute",
				"KneelStart",
				"KneelLoop",
				"KneelEnd",
				"AttackUnarmedOff",
				"SpecialUnarmed",
				"StealthWalk",
				"StealthStand",
				"Knockdown",
				"EatingLoop",
				"UseStandingLoop",
				"ChannelCastDirected",
				"ChannelCastOmni",
				"Whirlwind",
				"Birth",
				"UseStandingStart",
				"UseStandingEnd",
				"CreatureSpecial",
				"Drown",
				"Drowned",
				"FishingCast",
				"FishingLoop",
				"Fly",
				"EmoteWorkNoSheathe",
				"EmoteStunNoSheathe",
				"EmoteUseStandingNoSheathe",
				"SpellSleepDown",
				"SpellKneelStart",
				"SpellKneelLoop",
				"SpellKneelEnd",
				"Sprint",
				"InFlight",
				"Spawn",
				"Close",
				"Closed",
				"Open",
				"Opened",
				"Destroy",
				"Destroyed",
				"Rebuild",
				"Custom0",
				"Custom1",
				"Custom2",
				"Custom3",
				"Despawn",
				"Hold",
				"Decay",
				"BowPull",
				"BowRelease",
				"ShipStart",
				"ShipMoving",
				"ShipStop",
				"GroupArrow",
				"Arrow",
				"CorpseArrow",
				"GuideArrow",
				"Sway",
				"DruidCatPounce",
				"DruidCatRip",
				"DruidCatRake",
				"DruidCatRavage",
				"DruidCatClaw",
				"DruidCatCower",
				"DruidBearSwipe",
				"DruidBearBite",
				"DruidBearMaul",
				"DruidBearBash",
				"DragonTail",
				"DragonStomp",
				"DragonSpit",
				"DragonSpitHover",
				"DragonSpitFly",
				"EmoteYes",
				"EmoteNo",
				"JumpLandRun",
				"LootHold",
				"LootUp",
				"StandHigh",
				"Impact",
				"LiftOff",
				"Hover",
				"SuccubusEntice",
				"EmoteTrain",
				"EmoteDead",
				"EmoteDanceOnce",
				"Deflect",
				"EmoteEatNoSheathe",
				"Land",
				"Submerge",
				"Submerged",
				"Cannibalize",
				"ArrowBirth",
				"GroupArrowBirth",
				"CorpseArrowBirth",
				"GuideArrowBirth",
				"EmoteTalkNoSheathe",
				"EmotePointNoSheathe",
				"EmoteSaluteNoSheathe",
				"EmoteDanceSpecial",
				"Mutilate",
				"CustomSpell01",
				"CustomSpell02",
				"CustomSpell03",
				"CustomSpell04",
				"CustomSpell05",
				"CustomSpell06",
				"CustomSpell07",
				"CustomSpell08",
				"CustomSpell09",
				"CustomSpell10",
				"StealthRun",
				"Emerge",
				"Cower",
				"Grab",
				"GrabClosed",
				"GrabThrown",
				"FlyStand",
				"FlyDeath",
				"FlySpell",
				"FlyStop",
				"FlyWalk",
				"FlyRun",
				"FlyDead",
				"FlyRise",
				"FlyStandWound",
				"FlyCombatWound",
				"FlyCombatCritical",
				"FlyShuffleLeft",
				"FlyShuffleRight",
				"FlyWalkbackwards",
				"FlyStun",
				"FlyHandsClosed",
				"FlyAttackUnarmed",
				"FlyAttack1H",
				"FlyAttack2H",
				"FlyAttack2HL",
				"FlyParryUnarmed",
				"FlyParry1H",
				"FlyParry2H",
				"FlyParry2HL",
				"FlyShieldBlock",
				"FlyReadyUnarmed",
				"FlyReady1H",
				"FlyReady2H",
				"FlyReady2HL",
				"FlyReadyBow",
				"FlyDodge",
				"FlySpellPrecast",
				"FlySpellCast",
				"FlySpellCastArea",
				"FlyNPCWelcome",
				"FlyNPCGoodbye",
				"FlyBlock",
				"FlyJumpStart",
				"FlyJump",
				"FlyJumpEnd",
				"FlyFall",
				"FlySwimIdle",
				"FlySwim",
				"FlySwimLeft",
				"FlySwimRight",
				"FlySwimBackwards",
				"FlyAttackBow",
				"FlyFireBow",
				"FlyReadyRifle",
				"FlyAttackRifle",
				"FlyLoot",
				"FlyReadySpellDirected",
				"FlyReadySpellOmni",
				"FlySpellCastDirected",
				"FlySpellCastOmni",
				"FlyBattleRoar",
				"FlyReadyAbility",
				"FlySpecial1H",
				"FlySpecial2H",
				"FlyShieldBash",
				"FlyEmoteTalk",
				"FlyEmoteEat",
				"FlyEmoteWork",
				"FlyEmoteUseStanding",
				"FlyEmoteTalkExclamation",
				"FlyEmoteTalkQuestion",
				"FlyEmoteBow",
				"FlyEmoteWave",
				"FlyEmoteCheer",
				"FlyEmoteDance",
				"FlyEmoteLaugh",
				"FlyEmoteSleep",
				"FlyEmoteSitGround",
				"FlyEmoteRude",
				"FlyEmoteRoar",
				"FlyEmoteKneel",
				"FlyEmoteKiss",
				"FlyEmoteCry",
				"FlyEmoteChicken",
				"FlyEmoteBeg",
				"FlyEmoteApplaud",
				"FlyEmoteShout",
				"FlyEmoteFlex",
				"FlyEmoteShy",
				"FlyEmotePoint",
				"FlyAttack1HPierce",
				"FlyAttack2HLoosePierce",
				"FlyAttackOff",
				"FlyAttackOffPierce",
				"FlySheath",
				"FlyHipSheath",
				"FlyMount",
				"FlyRunRight",
				"FlyRunLeft",
				"FlyMountSpecial",
				"FlyKick",
				"FlySitGroundDown",
				"FlySitGround",
				"FlySitGroundUp",
				"FlySleepDown",
				"FlySleep",
				"FlySleepUp",
				"FlySitChairLow",
				"FlySitChairMed",
				"FlySitChairHigh",
				"FlyLoadBow",
				"FlyLoadRifle",
				"FlyAttackThrown",
				"FlyReadyThrown",
				"FlyHoldBow",
				"FlyHoldRifle",
				"FlyHoldThrown",
				"FlyLoadThrown",
				"FlyEmoteSalute",
				"FlyKneelStart",
				"FlyKneelLoop",
				"FlyKneelEnd",
				"FlyAttackUnarmedOff",
				"FlySpecialUnarmed",
				"FlyStealthWalk",
				"FlyStealthStand",
				"FlyKnockdown",
				"FlyEatingLoop",
				"FlyUseStandingLoop",
				"FlyChannelCastDirected",
				"FlyChannelCastOmni",
				"FlyWhirlwind",
				"FlyBirth",
				"FlyUseStandingStart",
				"FlyUseStandingEnd",
				"FlyCreatureSpecial",
				"FlyDrown",
				"FlyDrowned",
				"FlyFishingCast",
				"FlyFishingLoop",
				"FlyFly",
				"FlyEmoteWorkNoSheathe",
				"FlyEmoteStunNoSheathe",
				"FlyEmoteUseStandingNoSheathe",
				"FlySpellSleepDown",
				"FlySpellKneelStart",
				"FlySpellKneelLoop",
				"FlySpellKneelEnd",
				"FlySprint",
				"FlyInFlight",
				"FlySpawn",
				"FlyClose",
				"FlyClosed",
				"FlyOpen",
				"FlyOpened",
				"FlyDestroy",
				"FlyDestroyed",
				"FlyRebuild",
				"FlyCustom0",
				"FlyCustom1",
				"FlyCustom2",
				"FlyCustom3",
				"FlyDespawn",
				"FlyHold",
				"FlyDecay",
				"FlyBowPull",
				"FlyBowRelease",
				"FlyShipStart",
				"FlyShipMoving",
				"FlyShipStop",
				"FlyGroupArrow",
				"FlyArrow",
				"FlyCorpseArrow",
				"FlyGuideArrow",
				"FlySway",
				"FlyDruidCatPounce",
				"FlyDruidCatRip",
				"FlyDruidCatRake",
				"FlyDruidCatRavage",
				"FlyDruidCatClaw",
				"FlyDruidCatCower",
				"FlyDruidBearSwipe",
				"FlyDruidBearBite",
				"FlyDruidBearMaul",
				"FlyDruidBearBash",
				"FlyDragonTail",
				"FlyDragonStomp",
				"FlyDragonSpit",
				"FlyDragonSpitHover",
				"FlyDragonSpitFly",
				"FlyEmoteYes",
				"FlyEmoteNo",
				"FlyJumpLandRun",
				"FlyLootHold",
				"FlyLootUp",
				"FlyStandHigh",
				"FlyImpact",
				"FlyLiftOff",
				"FlyHover",
				"FlySuccubusEntice",
				"FlyEmoteTrain",
				"FlyEmoteDead",
				"FlyEmoteDanceOnce",
				"FlyDeflect",
				"FlyEmoteEatNoSheathe",
				"FlyLand",
				"FlySubmerge",
				"FlySubmerged",
				"FlyCannibalize",
				"FlyArrowBirth",
				"FlyGroupArrowBirth",
				"FlyCorpseArrowBirth",
				"FlyGuideArrowBirth",
				"FlyEmoteTalkNoSheathe",
				"FlyEmotePointNoSheathe",
				"FlyEmoteSaluteNoSheathe",
				"FlyEmoteDanceSpecial",
				"FlyMutilate",
				"FlyCustomSpell01",
				"FlyCustomSpell02",
				"FlyCustomSpell03",
				"FlyCustomSpell04",
				"FlyCustomSpell05",
				"FlyCustomSpell06",
				"FlyCustomSpell07",
				"FlyCustomSpell08",
				"FlyCustomSpell09",
				"FlyCustomSpell10",
				"FlyStealthRun",
				"FlyEmerge",
				"FlyCower",
				"FlyGrab",
				"FlyGrabClosed",
				"FlyGrabThrown",
				"ToFly",
				"ToHover",
				"ToGround",
				"FlyToFly",
				"FlyToHover",
				"FlyToGround",
				"Settle",
				"FlySettle",
				"DeathStart",
				"DeathLoop",
				"DeathEnd",
				"FlyDeathStart",
				"FlyDeathLoop",
				"FlyDeathEnd",
				"DeathEndHold",
				"FlyDeathEndHold",
				"Strangulate",
				"FlyStrangulate",
				"ReadyJoust",
				"LoadJoust",
				"HoldJoust",
				"FlyReadyJoust",
				"FlyLoadJoust",
				"FlyHoldJoust",
				"AttackJoust",
				"FlyAttackJoust",
				"ReclinedMount",
				"FlyReclinedMount",
				"ToAltered",
				"FromAltered",
				"FlyToAltered",
				"FlyFromAltered",
				"InStocks",
				"FlyInStocks",
				"VehicleGrab",
				"VehicleThrow",
				"FlyVehicleGrab",
				"FlyVehicleThrow",
				"ToAlteredPostSwap",
				"FromAlteredPostSwap",
				"FlyToAlteredPostSwap",
				"FlyFromAlteredPostSwap",
				"ReclinedMountPassenger",
				"FlyReclinedMountPassenger",
				"Carry2H",
				"Carried2H",
				"FlyCarry2H",
				"FlyCarried2H",
				"EmoteSniff",
				"EmoteFlySniff",
				"AttackFist1H",
				"FlyAttackFist1H",
				"AttackFist1HOff",
				"FlyAttackFist1HOff",
				"ParryFist1H",
				"FlyParryFist1H",
				"ReadyFist1H",
				"FlyReadyFist1H",
				"SpecialFist1H",
				"FlySpecialFist1H",
				"EmoteReadStart",
				"FlyEmoteReadStart",
				"EmoteReadLoop",
				"FlyEmoteReadLoop",
				"EmoteReadEnd",
				"FlyEmoteReadEnd",
				"SwimRun",
				"FlySwimRun",
				"SwimWalk",
				"FlySwimWalk",
				"SwimWalkBackwards",
				"FlySwimWalkBackwards",
				"SwimSprint",
				"FlySwimSprint",
				"MountSwimIdle",
				"FlyMountSwimIdle",
				"MountSwimBackwards",
				"FlyMountSwimBackwards",
				"MountSwimLeft",
				"FlyMountSwimLeft",
				"MountSwimRight",
				"FlyMountSwimRight",
				"MountSwimRun",
				"FlyMountSwimRun",
				"MountSwimSprint",
				"FlyMountSwimSprint",
				"MountSwimWalk",
				"FlyMountSwimWalk",
				"MountSwimWalkBackwards",
				"FlyMountSwimWalkBackwards",
				"MountFlightIdle",
				"FlyMountFlightIdle",
				"MountFlightBackwards",
				"FlyMountFlightBackwards",
				"MountFlightLeft",
				"FlyMountFlightLeft",
				"MountFlightRight",
				"FlyMountFlightRight",
				"MountFlightRun",
				"FlyMountFlightRun",
				"MountFlightSprint",
				"FlyMountFlightSprint",
				"MountFlightWalk",
				"FlyMountFlightWalk",
				"MountFlightWalkBackwards",
				"FlyMountFlightWalkBackwards",
				"MountFlightStart",
				"FlyMountFlightStart",
				"MountSwimStart",
				"FlyMountSwimStart",
				"MountSwimLand",
				"FlyMountSwimLand",
				"MountSwimLandRun",
				"FlyMountSwimLandRun",
				"MountFlightLand",
				"FlyMountFlightLand",
				"MountFlightLandRun",
				"FlyMountFlightLandRun",
				"ReadyBlowDart",
				"FlyReadyBlowDart",
				"LoadBlowDart",
				"FlyLoadBlowDart",
				"HoldBlowDart",
				"FlyHoldBlowDart",
				"AttackBlowDart",
				"FlyAttackBlowDart",
				"CarriageMount",
				"FlyCarriageMount",
				"CarriagePassengerMount",
				"FlyCarriagePassengerMount",
				"CarriageMountAttack",
				"FlyCarriageMountAttack",
				"BarTendStand",
				"FlyBarTendStand",
				"BarServerWalk",
				"FlyBarServerWalk",
				"BarServerRun",
				"FlyBarServerRun",
				"BarServerShuffleLeft",
				"FlyBarServerShuffleLeft",
				"BarServerShuffleRight",
				"FlyBarServerShuffleRight",
				"BarTendEmoteTalk",
				"FlyBarTendEmoteTalk",
				"BarTendEmotePoint",
				"FlyBarTendEmotePoint",
				"BarServerStand",
				"FlyBarServerStand",
				"BarSweepWalk",
				"FlyBarSweepWalk",
				"BarSweepRun",
				"FlyBarSweepRun",
				"BarSweepShuffleLeft",
				"FlyBarSweepShuffleLeft",
				"BarSweepShuffleRight",
				"FlyBarSweepShuffleRight",
				"BarSweepEmoteTalk",
				"FlyBarSweepEmoteTalk",
				"BarPatronSitEmotePoint",
				"FlyBarPatronSitEmotePoint",
				"MountSelfIdle",
				"FlyMountSelfIdle",
				"MountSelfWalk",
				"FlyMountSelfWalk",
				"MountSelfRun",
				"FlyMountSelfRun",
				"MountSelfSprint",
				"FlyMountSelfSprint",
				"MountSelfRunLeft",
				"FlyMountSelfRunLeft",
				"MountSelfRunRight",
				"FlyMountSelfRunRight",
				"MountSelfShuffleLeft",
				"FlyMountSelfShuffleLeft",
				"MountSelfShuffleRight",
				"FlyMountSelfShuffleRight",
				"MountSelfWalkBackwards",
				"FlyMountSelfWalkBackwards",
				"MountSelfSpecial",
				"FlyMountSelfSpecial",
				"MountSelfJump",
				"FlyMountSelfJump",
				"MountSelfJumpStart",
				"FlyMountSelfJumpStart",
				"MountSelfJumpEnd",
				"FlyMountSelfJumpEnd",
				"MountSelfJumpLandRun",
				"FlyMountSelfJumpLandRun",
				"MountSelfStart",
				"FlyMountSelfStart",
				"MountSelfFall",
				"FlyMountSelfFall",
				"Stormstrike",
				"FlyStormstrike",
				"ReadyJoustNoSheathe",
				"FlyReadyJoustNoSheathe",
				"Slam",
				"FlySlam",
				"DeathStrike",
				"FlyDeathStrike",
				"SwimAttackUnarmed",
				"FlySwimAttackUnarmed",
				"SpinningKick",
				"FlySpinningKick",
				"RoundHouseKick",
				"FlyRoundHouseKick",
				"RollStart",
				"FlyRollStart",
				"Roll",
				"FlyRoll",
				"RollEnd",
				"FlyRollEnd",
				"PalmStrike",
				"FlyPalmStrike",
				"MonkOffenseAttackUnarmed",
				"FlyMonkOffenseAttackUnarmed",
				"MonkOffenseAttackUnarmedOff",
				"FlyMonkOffenseAttackUnarmedOff",
				"MonkOffenseParryUnarmed",
				"FlyMonkOffenseParryUnarmed",
				"MonkOffenseReadyUnarmed",
				"FlyMonkOffenseReadyUnarmed",
				"MonkOffenseSpecialUnarmed",
				"FlyMonkOffenseSpecialUnarmed",
				"MonkDefenseAttackUnarmed",
				"FlyMonkDefenseAttackUnarmed",
				"MonkDefenseAttackUnarmedOff",
				"FlyMonkDefenseAttackUnarmedOff",
				"MonkDefenseParryUnarmed",
				"FlyMonkDefenseParryUnarmed",
				"MonkDefenseReadyUnarmed",
				"FlyMonkDefenseReadyUnarmed",
				"MonkDefenseSpecialUnarmed",
				"FlyMonkDefenseSpecialUnarmed",
				"MonkHealAttackUnarmed",
				"FlyMonkHealAttackUnarmed",
				"MonkHealAttackUnarmedOff",
				"FlyMonkHealAttackUnarmedOff",
				"MonkHealParryUnarmed",
				"FlyMonkHealParryUnarmed",
				"MonkHealReadyUnarmed",
				"FlyMonkHealReadyUnarmed",
				"MonkHealSpecialUnarmed",
				"FlyMonkHealSpecialUnarmed",
				"FlyingKick",
				"FlyFlyingKick",
				"FlyingKickStart",
				"FlyFlyingKickStart",
				"FlyingKickEnd",
				"FlyFlyingKickEnd",
				"CraneStart",
				"FlyCraneStart",
				"CraneLoop",
				"FlyCraneLoop",
				"CraneEnd",
				"FlyCraneEnd",
				"Despawned",
				"FlyDespawned",
				"ThousandFists",
				"FlyThousandFists",
				"MonkHealReadySpellDirected",
				"FlyMonkHealReadySpellDirected",
				"MonkHealReadySpellOmni",
				"FlyMonkHealReadySpellOmni",
				"MonkHealSpellCastDirected",
				"FlyMonkHealSpellCastDirected",
				"MonkHealSpellCastOmni",
				"FlyMonkHealSpellCastOmni",
				"MonkHealChannelCastDirected",
				"FlyMonkHealChannelCastDirected",
				"MonkHealChannelCastOmni",
				"FlyMonkHealChannelCastOmni",
				"Torpedo",
				"FlyTorpedo",
				"Meditate",
				"FlyMeditate",
				"BreathOfFire",
				"FlyBreathOfFire",
				"RisingSunKick",
				"FlyRisingSunKick",
				"GroundKick",
				"FlyGroundKick",
				"KickBack",
				"FlyKickBack",
				"PetBattleStand",
				"FlyPetBattleStand",
				"PetBattleDeath",
				"FlyPetBattleDeath",
				"PetBattleRun",
				"FlyPetBattleRun",
				"PetBattleWound",
				"FlyPetBattleWound",
				"PetBattleAttack",
				"FlyPetBattleAttack",
				"PetBattleReadySpell",
				"FlyPetBattleReadySpell",
				"PetBattleSpellCast",
				"FlyPetBattleSpellCast",
				"PetBattleCustom0",
				"FlyPetBattleCustom0",
				"PetBattleCustom1",
				"FlyPetBattleCustom1",
				"PetBattleCustom2",
				"FlyPetBattleCustom2",
				"PetBattleCustom3",
				"FlyPetBattleCustom3",
				"PetBattleVictory",
				"FlyPetBattleVictory",
				"PetBattleLoss",
				"FlyPetBattleLoss",
				"PetBattleStun",
				"FlyPetBattleStun",
				"PetBattleDead",
				"FlyPetBattleDead",
				"PetBattleFreeze",
				"FlyPetBattleFreeze",
				"MonkOffenseAttackWeapon",
				"FlyMonkOffenseAttackWeapon",
				"BarTendEmoteWave",
				"FlyBarTendEmoteWave",
				"BarServerEmoteTalk",
				"FlyBarServerEmoteTalk",
				"BarServerEmoteWave",
				"FlyBarServerEmoteWave",
				"BarServerPourDrinks",
				"FlyBarServerPourDrinks",
				"BarServerPickup",
				"FlyBarServerPickup",
				"BarServerPutDown",
				"FlyBarServerPutDown",
				"BarSweepStand",
				"FlyBarSweepStand",
				"BarPatronSit",
				"FlyBarPatronSit",
				"BarPatronSitEmoteTalk",
				"FlyBarPatronSitEmoteTalk",
				"BarPatronStand",
				"FlyBarPatronStand",
				"BarPatronStandEmoteTalk",
				"FlyBarPatronStandEmoteTalk",
				"BarPatronStandEmotePoint",
				"FlyBarPatronStandEmotePoint",
				"CarrionSwarm",
				"FlyCarrionSwarm",
				"WheelLoop",
				"FlyWheelLoop",
				"StandCharacterCreate",
				"FlyStandCharacterCreate",
				"MountChopper",
				"FlyMountChopper",
				"FacePose",
				"FlyFacePose",
				"CombatAbility2HBig01",
				"FlyCombatAbility2HBig01",
				"CombatAbility2H01",
				"FlyCombatAbility2H01",
				"CombatWhirlwind",
				"FlyCombatWhirlwind",
				"CombatChargeLoop",
				"FlyCombatChargeLoop",
				"CombatAbility1H01",
				"FlyCombatAbility1H01",
				"CombatChargeEnd",
				"FlyCombatChargeEnd",
				"CombatAbility1H02",
				"FlyCombatAbility1H02",
				"CombatAbility1HBig01",
				"FlyCombatAbility1HBig01",
				"CombatAbility2H02",
				"FlyCombatAbility2H02",
				"ShaSpellPrecastBoth",
				"FlyShaSpellPrecastBoth",
				"ShaSpellCastBothFront",
				"FlyShaSpellCastBothFront",
				"ShaSpellCastLeftFront",
				"FlyShaSpellCastLeftFront",
				"ShaSpellCastRightFront",
				"FlyShaSpellCastRightFront",
				"ReadyCrossbow",
				"FlyReadyCrossbow",
				"LoadCrossbow",
				"FlyLoadCrossbow",
				"AttackCrossbow",
				"FlyAttackCrossbow",
				"HoldCrossbow",
				"FlyHoldCrossbow",
				"CombatAbility2HL01",
				"FlyCombatAbility2HL01",
				"CombatAbility2HL02",
				"FlyCombatAbility2HL02",
				"CombatAbility2HLBig01",
				"FlyCombatAbility2HLBig01",
				"CombatUnarmed01",
				"FlyCombatUnarmed01",
				"CombatStompLeft",
				"FlyCombatStompLeft",
				"CombatStompRight",
				"FlyCombatStompRight",
				"CombatLeapLoop",
				"FlyCombatLeapLoop",
				"CombatLeapEnd",
				"FlyCombatLeapEnd",
				"ShaReadySpellCast",
				"FlyShaReadySpellCast",
				"ShaSpellPrecastBothChannel",
				"FlyShaSpellPrecastBothChannel",
				"ShaSpellCastBothUp",
				"FlyShaSpellCastBothUp",
				"ShaSpellCastBothUpChannel",
				"FlyShaSpellCastBothUpChannel",
				"ShaSpellCastBothFrontChannel",
				"FlyShaSpellCastBothFrontChannel",
				"ShaSpellCastLeftFrontChannel",
				"FlyShaSpellCastLeftFrontChannel",
				"ShaSpellCastRightFrontChannel",
				"FlyShaSpellCastRightFrontChannel",
				"PriReadySpellCast",
				"FlyPriReadySpellCast",
				"PriSpellPrecastBoth",
				"FlyPriSpellPrecastBoth",
				"PriSpellPrecastBothChannel",
				"FlyPriSpellPrecastBothChannel",
				"PriSpellCastBothUp",
				"FlyPriSpellCastBothUp",
				"PriSpellCastBothFront",
				"FlyPriSpellCastBothFront",
				"PriSpellCastLeftFront",
				"FlyPriSpellCastLeftFront",
				"PriSpellCastRightFront",
				"FlyPriSpellCastRightFront",
				"PriSpellCastBothUpChannel",
				"FlyPriSpellCastBothUpChannel",
				"PriSpellCastBothFrontChannel",
				"FlyPriSpellCastBothFrontChannel",
				"PriSpellCastLeftFrontChannel",
				"FlyPriSpellCastLeftFrontChannel",
				"PriSpellCastRightFrontChannel",
				"FlyPriSpellCastRightFrontChannel",
				"MagReadySpellCast",
				"FlyMagReadySpellCast",
				"MagSpellPrecastBoth",
				"FlyMagSpellPrecastBoth",
				"MagSpellPrecastBothChannel",
				"FlyMagSpellPrecastBothChannel",
				"MagSpellCastBothUp",
				"FlyMagSpellCastBothUp",
				"MagSpellCastBothFront",
				"FlyMagSpellCastBothFront",
				"MagSpellCastLeftFront",
				"FlyMagSpellCastLeftFront",
				"MagSpellCastRightFront",
				"FlyMagSpellCastRightFront",
				"MagSpellCastBothUpChannel",
				"FlyMagSpellCastBothUpChannel",
				"MagSpellCastBothFrontChannel",
				"FlyMagSpellCastBothFrontChannel",
				"MagSpellCastLeftFrontChannel",
				"FlyMagSpellCastLeftFrontChannel",
				"MagSpellCastRightFrontChannel",
				"FlyMagSpellCastRightFrontChannel",
				"LocReadySpellCast",
				"FlyLocReadySpellCast",
				"LocSpellPrecastBoth",
				"FlyLocSpellPrecastBoth",
				"LocSpellPrecastBothChannel",
				"FlyLocSpellPrecastBothChannel",
				"LocSpellCastBothUp",
				"FlyLocSpellCastBothUp",
				"LocSpellCastBothFront",
				"FlyLocSpellCastBothFront",
				"LocSpellCastLeftFront",
				"FlyLocSpellCastLeftFront",
				"LocSpellCastRightFront",
				"FlyLocSpellCastRightFront",
				"LocSpellCastBothUpChannel",
				"FlyLocSpellCastBothUpChannel",
				"LocSpellCastBothFrontChannel",
				"FlyLocSpellCastBothFrontChannel",
				"LocSpellCastLeftFrontChannel",
				"FlyLocSpellCastLeftFrontChannel",
				"LocSpellCastRightFrontChannel",
				"FlyLocSpellCastRightFrontChannel",
				"DruReadySpellCast",
				"FlyDruReadySpellCast",
				"DruSpellPrecastBoth",
				"FlyDruSpellPrecastBoth",
				"DruSpellPrecastBothChannel",
				"FlyDruSpellPrecastBothChannel",
				"DruSpellCastBothUp",
				"FlyDruSpellCastBothUp",
				"DruSpellCastBothFront",
				"FlyDruSpellCastBothFront",
				"DruSpellCastLeftFront",
				"FlyDruSpellCastLeftFront",
				"DruSpellCastRightFront",
				"FlyDruSpellCastRightFront",
				"DruSpellCastBothUpChannel",
				"FlyDruSpellCastBothUpChannel",
				"DruSpellCastBothFrontChannel",
				"FlyDruSpellCastBothFrontChannel",
				"DruSpellCastLeftFrontChannel",
				"FlyDruSpellCastLeftFrontChannel",
				"DruSpellCastRightFrontChannel",
				"FlyDruSpellCastRightFrontChannel",
				"ArtMainLoop",
				"FlyArtMainLoop",
				"ArtDualLoop",
				"FlyArtDualLoop",
				"ArtFistsLoop",
				"FlyArtFistsLoop",
				"ArtBowLoop",
				"FlyArtBowLoop",
				"CombatAbility1H01Off",
				"FlyCombatAbility1H01Off",
				"CombatAbility1H02Off",
				"FlyCombatAbility1H02Off",
				"CombatFuriousStrike01",
				"FlyCombatFuriousStrike01",
				"CombatFuriousStrike02",
				"FlyCombatFuriousStrike02",
				"CombatFuriousStrikes",
				"FlyCombatFuriousStrikes",
				"CombatReadySpellCast",
				"FlyCombatReadySpellCast",
				"CombatShieldThrow",
				"FlyCombatShieldThrow",
				"PalSpellCast1HUp",
				"FlyPalSpellCast1HUp",
				"CombatReadyPostSpellCast",
				"FlyCombatReadyPostSpellCast",
				"PriReadyPostSpellCast",
				"FlyPriReadyPostSpellCast",
				"DHCombatRun",
				"FlyDHCombatRun",
				"CombatShieldBash",
				"FlyCombatShieldBash",
				"CombatThrow",
				"FlyCombatThrow",
				"CombatAbility1HPierce",
				"FlyCombatAbility1HPierce",
				"CombatAbility1HOffPierce",
				"FlyCombatAbility1HOffPierce",
				"CombatMutilate",
				"FlyCombatMutilate",
				"CombatBladeStorm",
				"FlyCombatBladeStorm",
				"CombatFinishingMove",
				"FlyCombatFinishingMove",
				"CombatLeapStart",
				"FlyCombatLeapStart",
				"GlvThrowMain",
				"FlyGlvThrowMain",
				"GlvThrownOff",
				"FlyGlvThrownOff",
				"DHCombatSprint",
				"FlyDHCombatSprint",
				"CombatAbilityGlv01",
				"FlyCombatAbilityGlv01",
				"CombatAbilityGlv02",
				"FlyCombatAbilityGlv02",
				"CombatAbilityGlvOff01",
				"FlyCombatAbilityGlvOff01",
				"CombatAbilityGlvOff02",
				"FlyCombatAbilityGlvOff02",
				"CombatAbilityGlvBig01",
				"FlyCombatAbilityGlvBig01",
				"CombatAbilityGlvBig02",
				"FlyCombatAbilityGlvBig02",
				"ReadyGlv",
				"FlyReadyGlv",
				"CombatAbilityGlvBig03",
				"FlyCombatAbilityGlvBig03",
				"DoubleJumpStart",
				"FlyDoubleJumpStart",
				"DoubleJump",
				"FlyDoubleJump",
				"CombatEviscerate",
				"FlyCombatEviscerate",
				"DoubleJumpLandRun",
				"FlyDoubleJumpLandRun",
				"BackFlipStart",
				"FlyBackFlipStart",
				"BackFlipLoop",
				"FlyBackFlipLoop",
				"FelRushLoop",
				"FlyFelRushLoop",
				"FelRushEnd",
				"FlyFelRushEnd",
				"DHToAlteredStart",
				"FlyDHToAlteredStart",
				"DHToAlteredEnd",
				"FlyDHToAlteredEnd",
				"DHGlide",
				"FlyDHGlide",
				"FanOfKnives",
				"FlyFanOfKnives",
				"SingleJumpStart",
				"FlySingleJumpStart",
				"DHBladeDance1",
				"FlyDHBladeDance1",
				"DHBladeDance2",
				"FlyDHBladeDance2",
				"DHBladeDance3",
				"FlyDHBladeDance3",
				"DHMeteorStrike",
				"FlyDHMeteorStrike",
				"CombatExecute",
				"FlyCombatExecute",
				"ArtLoop",
				"FlyArtLoop",
				"ParryGlv",
				"FlyParryGlv",
				"CombatUnarmed02",
				"FlyCombatUnarmed02",
				"CombatPistolShot",
				"FlyCombatPistolShot",
				"CombatPistolShotOff",
				"FlyCombatPistolShotOff",
				"Monk2HLIdle",
				"FlyMonk2HLIdle",
				"ArtShieldLoop",
				"FlyArtShieldLoop",
				"CombatAbility2H03",
				"FlyCombatAbility2H03",
				"CombatStomp",
				"FlyCombatStomp",
				"CombatRoar",
				"FlyCombatRoar",
				"PalReadySpellCast",
				"FlyPalReadySpellCast",
				"PalSpellPrecastRight",
				"FlyPalSpellPrecastRight",
				"PalSpellPrecastRightChannel",
				"FlyPalSpellPrecastRightChannel",
				"PalSpellCastRightFront",
				"FlyPalSpellCastRightFront",
				"ShaSpellCastBothOut",
				"FlyShaSpellCastBothOut",
				"AttackWeapon",
				"FlyAttackWeapon",
				"ReadyWeapon",
				"FlyReadyWeapon",
				"AttackWeaponOff",
				"FlyAttackWeaponOff",
				"SpecialDual",
				"FlySpecialDual",
				"DkCast1HFront",
				"FlyDkCast1HFront",
				"CastStrongRight",
				"FlyCastStrongRight",
				"CastStrongLeft",
				"FlyCastStrongLeft",
				"CastCurseRight",
				"FlyCastCurseRight",
				"CastCurseLeft",
				"FlyCastCurseLeft",
				"CastSweepRight",
				"FlyCastSweepRight",
				"CastSweepLeft",
				"FlyCastSweepLeft",
				"CastStrongUpLeft",
				"FlyCastStrongUpLeft",
				"CastTwistUpBoth",
				"FlyCastTwistUpBoth",
				"CastOutStrong",
				"FlyCastOutStrong",
				"DrumLoop",
				"FlyDrumLoop",
				"ParryWeapon",
				"FlyParryWeapon",
				"ReadyFL",
				"FlyReadyFL",
				"AttackFL",
				"FlyAttackFL",
				"AttackFLOff",
				"FlyAttackFLOff",
				"ParryFL",
				"FlyParryFL",
				"SpecialFL",
				"FlySpecialFL",
				"PriHoverForward",
				"FlyPriHoverForward",
				"PriHoverBackward",
				"FlyPriHoverBackward",
				"PriHoverRight",
				"FlyPriHoverRight",
				"PriHoverLeft",
				"FlyPriHoverLeft",
				"RunBackwards",
				"FlyRunBackwards",
				"CastStrongUpRight",
				"FlyCastStrongUpRight",
				"WAWalk",
				"FlyWAWalk",
				"WARun",
				"FlyWARun",
				"WADrunkStand",
				"FlyWADrunkStand",
				"WADrunkShuffleLeft",
				"FlyWADrunkShuffleLeft",
				"WADrunkShuffleRight",
				"FlyWADrunkShuffleRight",
				"WADrunkWalk",
				"FlyWADrunkWalk",
				"WADrunkWalkBackwards",
				"FlyWADrunkWalkBackwards",
				"WADrunkWound",
				"FlyWADrunkWound",
				"WADrunkTalk",
				"FlyWADrunkTalk",
				"WATrance01",
				"FlyWATrance01",
				"WATrance02",
				"FlyWATrance02",
				"WAChant01",
				"FlyWAChant01",
				"WAChant02",
				"FlyWAChant02",
				"WAChant03",
				"FlyWAChant03",
				"WAHang01",
				"FlyWAHang01",
				"WAHang02",
				"FlyWAHang02",
				"WASummon01",
				"FlyWASummon01",
				"WASummon02",
				"FlyWASummon02",
				"WABeggarTalk",
				"FlyWABeggarTalk",
				"WABeggarStand",
				"FlyWABeggarStand",
				"WABeggarPoint",
				"FlyWABeggarPoint",
				"WABeggarBeg",
				"FlyWABeggarBeg",
				"WASit01",
				"FlyWASit01",
				"WASit02",
				"FlyWASit02",
				"WASit03",
				"FlyWASit03",
				"WACrierStand01",
				"FlyWACrierStand01",
				"WACrierStand02",
				"FlyWACrierStand02",
				"WACrierStand03",
				"FlyWACrierStand03",
				"WACrierTalk",
				"FlyWACrierTalk",
				"WACrateHold",
				"FlyWACrateHold",
				"WABarrelHold",
				"FlyWABarrelHold",
				"WASackHold",
				"FlyWASackHold",
				"WAWheelBarrowStand",
				"FlyWAWheelBarrowStand",
				"WAWheelBarrowWalk",
				"FlyWAWheelBarrowWalk",
				"WAWheelBarrowRun",
				"FlyWAWheelBarrowRun",
				"WAHammerLoop",
				"FlyWAHammerLoop",
				"WACrankLoop",
				"FlyWACrankLoop",
				"WAPourStart",
				"FlyWAPourStart",
				"WAPourLoop",
				"FlyWAPourLoop",
				"WAPourEnd",
				"FlyWAPourEnd",
				"WAEmotePour",
				"FlyWAEmotePour",
				"WARowingStandRight",
				"FlyWARowingStandRight",
				"WARowingStandLeft",
				"FlyWARowingStandLeft",
				"WARowingRight",
				"FlyWARowingRight",
				"WARowingLeft",
				"FlyWARowingLeft",
				"WAGuardStand01",
				"FlyWAGuardStand01",
				"WAGuardStand02",
				"FlyWAGuardStand02",
				"WAGuardStand03",
				"FlyWAGuardStand03",
				"WAGuardStand04",
				"FlyWAGuardStand04",
				"WAFreezing01",
				"FlyWAFreezing01",
				"WAFreezing02",
				"FlyWAFreezing02",
				"WAVendorStand01",
				"FlyWAVendorStand01",
				"WAVendorStand02",
				"FlyWAVendorStand02",
				"WAVendorStand03",
				"FlyWAVendorStand03",
				"WAVendorTalk",
				"FlyWAVendorTalk",
				"WALean01",
				"FlyWALean01",
				"WALean02",
				"FlyWALean02",
				"WALean03",
				"FlyWALean03",
				"WALeanTalk",
				"FlyWALeanTalk",
				"WABoatWheel",
				"FlyWABoatWheel",
				"WASmithLoop",
				"FlyWASmithLoop",
				"WAScrubbing",
				"FlyWAScrubbing",
				"WAWeaponSharpen",
				"FlyWAWeaponSharpen",
				"WAStirring",
				"FlyWAStirring",
				"WAPerch01",
				"FlyWAPerch01",
				"WAPerch02",
				"FlyWAPerch02",
				"HoldWeapon",
				"FlyHoldWeapon",
				"WABarrelWalk",
				"FlyWABarrelWalk",
				"WAPourHold",
				"FlyWAPourHold",
				"CastStrong",
				"FlyCastStrong",
				"CastCurse",
				"FlyCastCurse",
				"CastSweep",
				"FlyCastSweep",
				"CastStrongUp",
				"FlyCastStrongUp",
				"WABoatWheelStand",
				"FlyWABoatWheelStand",
				"WASmithStand",
				"FlyWASmithStand",
				"WACrankStand",
				"FlyWACrankStand",
				"WAPourWalk",
				"FlyWAPourWalk",
				"FalconeerStart",
				"FlyFalconeerStart",
				"FalconeerLoop",
				"FlyFalconeerLoop",
				"FalconeerEnd",
				"FlyFalconeerEnd",
				"WADrunkDrink",
				"FlyWADrunkDrink",
				"WAStandEat",
				"FlyWAStandEat",
				"WAStandDrink",
				"FlyWAStandDrink",
				"WABound01",
				"FlyWABound01",
				"WABound02",
				"FlyWABound02",
				"CombatAbility1H03Off",
				"FlyCombatAbility1H03Off",
				"CombatAbilityDualWield01",
				"FlyCombatAbilityDualWield01",
				"WACradle01",
				"FlyWACradle01",
				"LocSummon",
				"FlyLocSummon",
				"LoadWeapon",
				"FlyLoadWeapon",
				"ArtOffLoop",
				"FlyArtOffLoop",
				"WADead01",
				"FlyWADead01",
				"WADead02",
				"FlyWADead02",
				"WADead03",
				"FlyWADead03",
				"WADead04",
				"FlyWADead04",
				"WADead05",
				"FlyWADead05",
				"WADead06",
				"FlyWADead06",
				"WADead07",
				"FlyWADead07",
				"GiantRun",
				"FlyGiantRun",
				"BarTendEmoteCheer",
				"FlyBarTendEmoteCheer",
				"BarTendEmoteTalkQuestion",
				"FlyBarTendEmoteTalkQuestion",
				"BarTendEmoteTalkExclamation",
				"FlyBarTendEmoteTalkExclamation",
				"BarTendWalk",
				"FlyBarTendWalk",
				"BartendShuffleLeft",
				"FlyBartendShuffleLeft",
				"BarTendShuffleRight",
				"FlyBarTendShuffleRight",
				"BarTendCustomSpell01",
				"FlyBarTendCustomSpell01",
				"BarTendCustomSpell02",
				"FlyBarTendCustomSpell02",
				"BarTendCustomSpell03",
				"FlyBarTendCustomSpell03",
				"BarServerEmoteCheer",
				"FlyBarServerEmoteCheer",
				"BarServerEmoteTalkQuestion",
				"FlyBarServerEmoteTalkQuestion",
				"BarServerEmoteTalkExclamation",
				"FlyBarServerEmoteTalkExclamation",
				"BarServerCustomSpell01",
				"FlyBarServerCustomSpell01",
				"BarServerCustomSpell02",
				"FlyBarServerCustomSpell02",
				"BarServerCustomSpell03",
				"FlyBarServerCustomSpell03",
				"BarPatronEmoteDrink",
				"FlyBarPatronEmoteDrink",
				"BarPatronEmoteCheer",
				"FlyBarPatronEmoteCheer",
				"BarPatronCustomSpell01",
				"FlyBarPatronCustomSpell01",
				"BarPatronCustomSpell02",
				"FlyBarPatronCustomSpell02",
				"BarPatronCustomSpell03",
				"FlyBarPatronCustomSpell03",
				"HoldDart",
				"FlyHoldDart",
				"ReadyDart",
				"FlyReadyDart",
				"AttackDart",
				"FlyAttackDart",
				"LoadDart",
				"FlyLoadDart",
				"WADartTargetStand",
				"FlyWADartTargetStand",
				"WADartTargetEmoteTalk",
				"FlyWADartTargetEmoteTalk",
				"BarPatronSitEmoteCheer",
				"FlyBarPatronSitEmoteCheer",
				"BarPatronSitCustomSpell01",
				"FlyBarPatronSitCustomSpell01",
				"BarPatronSitCustomSpell02",
				"FlyBarPatronSitCustomSpell02",
				"BarPatronSitCustomSpell03",
				"FlyBarPatronSitCustomSpell03",
				"BarPianoStand",
				"FlyBarPianoStand",
				"BarPianoEmoteTalk",
				"FlyBarPianoEmoteTalk",
				"WAHearthSit",
				"FlyWAHearthSit",
				"WAHearthSitEmoteCry",
				"FlyWAHearthSitEmoteCry",
				"WAHearthSitEmoteCheer",
				"FlyWAHearthSitEmoteCheer",
				"WAHearthSitCustomSpell01",
				"FlyWAHearthSitCustomSpell01",
				"WAHearthSitCustomSpell02",
				"FlyWAHearthSitCustomSpell02",
				"WAHearthSitCustomSpell03",
				"FlyWAHearthSitCustomSpell03",
				"WAHearthStand",
				"FlyWAHearthStand",
				"WAHearthStandEmoteCheer",
				"FlyWAHearthStandEmoteCheer",
				"WAHearthStandEmoteTalk",
				"FlyWAHearthStandEmoteTalk",
				"WAHearthStandCustomSpell01",
				"FlyWAHearthStandCustomSpell01",
				"WAHearthStandCustomSpell02",
				"FlyWAHearthStandCustomSpell02",
				"WAHearthStandCustomSpell03",
				"FlyWAHearthStandCustomSpell03",
				"WAScribeStart",
				"FlyWAScribeStart",
				"WAScribeLoop",
				"FlyWAScribeLoop",
				"WAScribeEnd",
				"FlyWAScribeEnd",
				"WAEmoteScribe",
				"FlyWAEmoteScribe",
				"Haymaker",
				"FlyHaymaker",
				"HaymakerPrecast",
				"FlyHaymakerPrecast",
				"ChannelCastOmniUp",
				"FlyChannelCastOmniUp",
				"DHJumpLandRun",
				"FlyDHJumpLandRun",
				"Cinematic01",
				"FlyCinematic01",
				"Cinematic02",
				"FlyCinematic02",
				"Cinematic03",
				"FlyCinematic03",
				"Cinematic04",
				"FlyCinematic04",
				"Cinematic05",
				"FlyCinematic05",
				"Cinematic06",
				"FlyCinematic06",
				"Cinematic07",
				"FlyCinematic07",
				"Cinematic08",
				"FlyCinematic08",
				"Cinematic09",
				"FlyCinematic09",
				"Cinematic10",
				"FlyCinematic10",
				"TakeOffStart",
				"FlyTakeOffStart",
				"TakeOffFinish",
				"FlyTakeOffFinish",
				"LandStart",
				"FlyLandStart",
				"LandFinish",
				"FlyLandFinish",
				"WAWalkTalk",
				"FlyWAWalkTalk",
				"WAPerch03",
				"FlyWAPerch03",
				"CarriageMountMoving",
				"FlyCarriageMountMoving",
				"TakeOffFinishFly",
				"FlyTakeOffFinishFly",
				"CombatAbility2HBig02",
				"FlyCombatAbility2HBig02",
				"MountWide",
				"FlyMountWide",
				"EmoteTalkSubdued",
				"FlyEmoteTalkSubdued",
				"WASit04",
				"FlyWASit04",
				"MountSummon",
				"FlyMountSummon",
				"EmoteSelfie",
				"FlyEmoteSelfie",
				"CustomSpell11",
				"FlyCustomSpell11",
				"CustomSpell12",
				"FlyCustomSpell12",
				"CustomSpell13",
				"FlyCustomSpell13",
				"CustomSpell14",
				"FlyCustomSpell14",
				"CustomSpell15",
				"FlyCustomSpell15",
				"CustomSpell16",
				"FlyCustomSpell16",
				"CustomSpell17",
				"FlyCustomSpell17",
				"CustomSpell18",
				"FlyCustomSpell18",
				"CustomSpell19",
				"FlyCustomSpell19",
				"CustomSpell20",
				"FlyCustomSpell20",
				"AdvFlyLeft",
				"FlyAdvFlyLeft",
				"AdvFlyRight",
				"FlyAdvFlyRight",
				"AdvFlyForward",
				"FlyAdvFlyForward",
				"AdvFlyBackward",
				"FlyAdvFlyBackward",
				"AdvFlyUp",
				"FlyAdvFlyUp",
				"AdvFlyDown",
				"FlyAdvFlyDown",
				"AdvFlyForwardGlide",
				"FlyAdvFlyForwardGlide",
				"AdvFlyRoll",
				"FlyAdvFlyRoll",
				"ProfCookingLoop",
				"FlyProfCookingLoop",
				"ProfCookingStart",
				"FlyProfCookingStart",
				"ProfCookingEnd",
				"FlyProfCookingEnd",
				"WACurious",
				"FlyWACurious",
				"WAAlert",
				"FlyWAAlert",
				"WAInvestigate",
				"FlyWAInvestigate",
				"WAInteraction",
				"FlyWAInteraction",
				"WAThreaten",
				"FlyWAThreaten",
				"WAReact01",
				"FlyWAReact01",
				"WAReact02",
				"FlyWAReact02",
				"AdvFlyRollStart",
				"FlyAdvFlyRollStart",
				"AdvFlyRollEnd",
				"FlyAdvFlyRollEnd",
				"EmpBreathPrecast",
				"FlyEmpBreathPrecast",
				"EmpBreathPrecastChannel",
				"FlyEmpBreathPrecastChannel",
				"EmpBreathSpellCast",
				"FlyEmpBreathSpellCast",
				"EmpBreathSpellCastChannel",
				"FlyEmpBreathSpellCastChannel",
				"DracFlyBreathTakeoffStart",
				"FlyDracFlyBreathTakeoffStart",
				"DracFlyBreathTakeoffFinish",
				"FlyDracFlyBreathTakeoffFinish",
				"DracFlyBreath",
				"FlyDracFlyBreath",
				"DracFlyBreathLandStart",
				"FlyDracFlyBreathLandStart",
				"DracFlyBreathLandFinish",
				"FlyDracFlyBreathLandFinish",
				"DracAirDashLeft",
				"FlyDracAirDashLeft",
				"DracAirDashForward",
				"FlyDracAirDashForward",
				"DracAirDashBackward",
				"FlyDracAirDashBackward",
				"DracAirDashRight",
				"FlyDracAirDashRight",
				"LivingWorldProximityEnter",
				"FlyLivingWorldProximityEnter",
				"AdvFlyDownEnd",
				"FlyAdvFlyDownEnd",
				"LivingWorldProximityLoop",
				"FlyLivingWorldProximityLoop",
				"LivingWorldProximityLeave",
				"FlyLivingWorldProximityLeave",
				"EmpAirBarragePrecast",
				"FlyEmpAirBarragePrecast",
				"EmpAirBarragePrecastChannel",
				"FlyEmpAirBarragePrecastChannel",
				"EmpAirBarrageSpellCast",
				"FlyEmpAirBarrageSpellCast",
				"DracClawSwipeLeft",
				"FlyDracClawSwipeLeft",
				"DracClawSwipeRight",
				"FlyDracClawSwipeRight",
				"DracHoverIdle",
				"FlyDracHoverIdle",
				"DracHoverLeft",
				"FlyDracHoverLeft",
				"DracHoverRight",
				"FlyDracHoverRight",
				"DracHoverBackward",
				"FlyDracHoverBackward",
				"DracHoverForward",
				"FlyDracHoverForward",
				"DracAttackWings",
				"FlyDracAttackWings",
				"DracAttackTail",
				"FlyDracAttackTail",
				"AdvFlyStart",
				"FlyAdvFlyStart",
				"AdvFlyLand",
				"FlyAdvFlyLand",
				"AdvFlyLandRun",
				"FlyAdvFlyLandRun",
				"AdvFlyStrafeLeft",
				"FlyAdvFlyStrafeLeft",
				"AdvFlyStrafeRight",
				"FlyAdvFlyStrafeRight",
				"AdvFlyIdle",
				"FlyAdvFlyIdle",
				"AdvFlyRollRight",
				"FlyAdvFlyRollRight",
				"AdvFlyRollRightEnd",
				"FlyAdvFlyRollRightEnd",
				"AdvFlyRollLeft",
				"FlyAdvFlyRollLeft",
				"AdvFlyRollLeftEnd",
				"FlyAdvFlyRollLeftEnd",
				"AdvFlyFlap",
				"FlyAdvFlyFlap",
				"DracHoverDracClawSwipeLeft",
				"FlyDracHoverDracClawSwipeLeft",
				"DracHoverDracClawSwipeRight",
				"FlyDracHoverDracClawSwipeRight",
				"DracHoverDracAttackWings",
				"FlyDracHoverDracAttackWings",
				"DracHoverReadySpellOmni",
				"FlyDracHoverReadySpellOmni",
				"DracHoverSpellCastOmni",
				"FlyDracHoverSpellCastOmni",
				"DracHoverChannelSpellOmni",
				"FlyDracHoverChannelSpellOmni",
				"DracHoverReadySpellDirected",
				"FlyDracHoverReadySpellDirected",
				"DracHoverChannelSpellDirected",
				"FlyDracHoverChannelSpellDirected",
				"DracHoverSpellCastDirected",
				"FlyDracHoverSpellCastDirected",
				"DracHoverCastOutStrong",
				"FlyDracHoverCastOutStrong",
				"DracHoverBattleRoar",
				"FlyDracHoverBattleRoar",
				"DracHoverEmpBreathSpellCast",
				"FlyDracHoverEmpBreathSpellCast",
				"DracHoverEmpBreathSpellCastChannel",
				"FlyDracHoverEmpBreathSpellCastChannel",
				"LivingWorldTimeOfDayEnter",
				"FlyLivingWorldTimeOfDayEnter",
				"LivingWorldTimeOfDayLoop",
				"FlyLivingWorldTimeOfDayLoop",
				"LivingWorldTimeOfDayLeave",
				"FlyLivingWorldTimeOfDayLeave",
				"LivingWorldWeatherEnter",
				"FlyLivingWorldWeatherEnter",
				"LivingWorldWeatherLoop",
				"FlyLivingWorldWeatherLoop",
				"LivingWorldWeatherLeave",
				"FlyLivingWorldWeatherLeave",
				"AdvFlyDownStart",
				"FlyAdvFlyDownStart",
				"AdvFlyFlapBig",
				"FlyAdvFlyFlapBig",
				"DracHoverReadyUnarmed",
				"FlyDracHoverReadyUnarmed",
				"DracHoverAttackUnarmed",
				"FlyDracHoverAttackUnarmed",
				"DracHoverParryUnarmed",
				"FlyDracHoverParryUnarmed",
				"DracHoverCombatWound",
				"FlyDracHoverCombatWound",
				"DracHoverCombatCritical",
				"FlyDracHoverCombatCritical",
				"DracHoverAttackTail",
				"FlyDracHoverAttackTail",
				"Glide",
				"FlyGlide",
				"GlideEnd",
				"FlyGlideEnd",
				"DracClawSwipe",
				"FlyDracClawSwipe",
				"DracHoverDracClawSwipe",
				"FlyDracHoverDracClawSwipe",
				"AdvFlyFlapUp",
				"FlyAdvFlyFlapUp",
				"AdvFlySlowFall",
				"FlyAdvFlySlowFall",
				"AdvFlyFlapFoward",
				"FlyAdvFlyFlapFoward",
				"DracSpellCastWings",
				"FlyDracSpellCastWings",
				"DracHoverDracSpellCastWings",
				"FlyDracHoverDracSpellCastWings",
				"DracAirDashVertical",
				"FlyDracAirDashVertical",
				"DracAirDashRefresh",
				"FlyDracAirDashRefresh",
				"SkinningLoop",
				"FlySkinningLoop",
				"SkinningStart",
				"FlySkinningStart",
				"SkinningEnd",
				"FlySkinningEnd",
				"AdvFlyForwardGlideSlow",
				"FlyAdvFlyForwardGlideSlow",
				"AdvFlyForwardGlideFast",
				"FlyAdvFlyForwardGlideFast",
				"AdvFlySecondFlapUp",
				"FlyAdvFlySecondFlapUp",
				"FloatIdle",
				"FlyFloatIdle",
				"FloatWalk",
				"FlyFloatWalk",
				"CinematicTalk",
				"FlyCinematicTalk",
				"CinematicWAGuardEmoteSlam01",
				"FlyCinematicWAGuardEmoteSlam01",
				"WABlowHorn",
				"FlyWABlowHorn",
				"MountExtraWide",
				"FlyMountExtraWide",
				"WA2HIdle",
				"FlyWA2HIdle",
				"HerbalismLoop",
				"FlyHerbalismLoop",
				"CookingLoop",
				"FlyCookingLoop",
				"WAWeaponSharpenNoSheathe",
				"FlyWAWeaponSharpenNoSheathe",
				"CinematicDeath",
				"FlyCinematicDeath",
				"CinematicDeathPose",
				"FlyCinematicDeathPose",
				"EmpSlamPrecast",
				"FlyEmpSlamPrecast",
				"EmpSlamPrecastChannel",
				"FlyEmpSlamPrecastChannel",
				"EmpSlamSpellCast",
				"FlyEmpSlamSpellCast",
				"Climb",
				"FlyClimb",
				"ClimbStart",
				"FlyClimbStart",
				"ClimbEnd",
				"FlyClimbEnd",
				"MountLeanLeft",
				"FlyMountLeanLeft",
				"MountLeanRight",
				"FlyMountLeanRight",
				"MountDive",
				"FlyMountDive",
				"MountCrouch",
				"FlyMountCrouch",
				"WAShovelLoop",
				"FlyWAShovelLoop",
				"EmoteTalkFrustrated",
				"FlyEmoteTalkFrustrated",
			];

            function getAnimationName(id) {
				if (id < ANIM_NAMES.length) {
					return ANIM_NAMES[id];
				}
				return "UnknownAnim_" + id;
            }
        });
    </script>
}