/* Global style settings
-----------------------------------------------------------*/

/* Get rid of rounded corners */

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    background-color: #D2D7DF;
    /* The html and body elements cannot have any padding or margin. */
}

/* z-index for processing div */
div.dataTables_processing
{
    z-index: 1000;
}

/* Styles for Status page
-----------------------------------------------------------*/
div.status-line .status-bad
{
    color: red;
    background-color: darkred;
}

div.status-line .status-loading
{
    color: orange;
    background-color: darkorange;
}

div.status-line .status-good
{
    color: green;
    background-color: darkgreen;
}

div.status-line .form-control
{
    border: none;
    background-image: -webkit-repeating-linear-gradient(
        45deg,
        rgba(0,0,0,.4),
        rgba(0,0,0,.4) 20px,
        rgba(0,0,0,.2) 20px,
        rgba(0,0,0,.2) 40px);
    background-image: -o-repeating-linear-gradient(
        45deg,
        rgba(0,0,0,.4),
        rgba(0,0,0,.4) 20px,
        rgba(0,0,0,.2) 20px,
        rgba(0,0,0,.2) 40px);
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0,0,0,.4),
        rgba(0,0,0,.4) 20px,
        rgba(0,0,0,.2) 20px,
        rgba(0,0,0,.2) 40px
    );
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}